# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
Thumbs.db
package-lock.json
*.ai
*.log
*.pdf
*.psd
*.sublime*
.idea/
npm-debug.*
